<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mdreizin.chrome.bookmarks</string>
	<key>connections</key>
	<dict>
		<key>077ab5d8-e9fa-4f28-b06f-328dbf829e30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4e81815c-a9b0-4958-8f05-cfc3275b50a5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34fb7c8a-e7aa-4e22-be8a-1fab202d8034</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>646ce943-34fd-4abc-a59e-3d72768a4bdb</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4e81815c-a9b0-4958-8f05-cfc3275b50a5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A6D5564-63F4-425C-A21B-58A66B090B74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51ad66cf-5391-4b3d-98eb-9c96711b4dd3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1b177a88-60f6-42bb-8bc6-4c3e5513e36e</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55b24abc-6b53-4819-9b91-f64683f59fe6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ab9a8cb8-df87-4420-b092-420f13a085f8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5c5a3de8-474a-42bf-99f6-c61f793a6625</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>a1b05a9e-7650-4628-be2e-9123fd849c17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5f62cd88-0737-48db-a56a-c28761a4fcab</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>d48d5335-2682-4bba-bee5-27cb41970251</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>646ce943-34fd-4abc-a59e-3d72768a4bdb</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A6D5564-63F4-425C-A21B-58A66B090B74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ab9a8cb8-df87-4420-b092-420f13a085f8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A6D5564-63F4-425C-A21B-58A66B090B74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marat Dreizin</string>
	<key>description</key>
	<string>Chrome/Canary/Chromium bookmarks search workflow for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>d48d5335-2682-4bba-bee5-27cb41970251</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>chrome</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching bookmarks…</string>
				<key>script</key>
				<string>QUERY=$(./bin/normalise -form NFC "{query}")

./bin/cli bookmarks "chrome" -query="${QUERY}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start typing to search bookmarks…</string>
				<key>title</key>
				<string>Google Chrome bookmarks '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5f62cd88-0737-48db-a56a-c28761a4fcab</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>chrome-profiles</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching profiles…</string>
				<key>script</key>
				<string>QUERY=$(./bin/normalise -form NFC "{query}")

./bin/cli profiles "chrome" -query="${QUERY}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show all available profiles</string>
				<key>title</key>
				<string>Google Chrome profiles '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>34fb7c8a-e7aa-4e22-be8a-1fab202d8034</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>QUERY=$(./bin/normalise -form NFC "{query}")

./bin/cli select-profile "chrome" -query="${QUERY}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>646ce943-34fd-4abc-a59e-3d72768a4bdb</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome.canary</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1b177a88-60f6-42bb-8bc6-4c3e5513e36e</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>ch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching bookmarks…</string>
				<key>script</key>
				<string>QUERY=$(./bin/normalise -form NFC "{query}")

./bin/cli bookmarks "canary" -query="${QUERY}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start typing to search bookmarks…</string>
				<key>title</key>
				<string>Google Chrome Canary bookmarks '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51ad66cf-5391-4b3d-98eb-9c96711b4dd3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Chrome Bookmarks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A6D5564-63F4-425C-A21B-58A66B090B74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>canary-profiles</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching profiles…</string>
				<key>script</key>
				<string>QUERY=$(./bin/normalise -form NFC "{query}")

./bin/cli profiles "canary" -query="${QUERY}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show all available profiles</string>
				<key>title</key>
				<string>Google Chrome Canary profiles '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>077ab5d8-e9fa-4f28-b06f-328dbf829e30</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>QUERY=$(./bin/normalise -form NFC "{query}")

./bin/cli select-profile "canary" -query="${QUERY}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4e81815c-a9b0-4958-8f05-cfc3275b50a5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.chromium.Chromium</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>a1b05a9e-7650-4628-be2e-9123fd849c17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>chromium</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching bookmarks…</string>
				<key>script</key>
				<string>QUERY=$(./bin/normalise -form NFC "{query}")

./bin/cli bookmarks "chromium" -query="${QUERY}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start typing to search bookmarks…</string>
				<key>title</key>
				<string>Chromium bookmarks '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5c5a3de8-474a-42bf-99f6-c61f793a6625</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>chromium-profiles</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching profiles…</string>
				<key>script</key>
				<string>QUERY=$(./bin/normalise -form NFC "{query}")

./bin/cli profiles "chromium" -query="${QUERY}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show all available profiles</string>
				<key>title</key>
				<string>Chromium profiles '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55b24abc-6b53-4819-9b91-f64683f59fe6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>QUERY=$(./bin/normalise -form NFC "{query}")

./bin/cli select-profile "chromium" -query="${QUERY}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ab9a8cb8-df87-4420-b092-420f13a085f8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>077ab5d8-e9fa-4f28-b06f-328dbf829e30</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>1b177a88-60f6-42bb-8bc6-4c3e5513e36e</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>34fb7c8a-e7aa-4e22-be8a-1fab202d8034</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>4e81815c-a9b0-4958-8f05-cfc3275b50a5</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>51ad66cf-5391-4b3d-98eb-9c96711b4dd3</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>55b24abc-6b53-4819-9b91-f64683f59fe6</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>5c5a3de8-474a-42bf-99f6-c61f793a6625</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>5f62cd88-0737-48db-a56a-c28761a4fcab</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>646ce943-34fd-4abc-a59e-3d72768a4bdb</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>6A6D5564-63F4-425C-A21B-58A66B090B74</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>a1b05a9e-7650-4628-be2e-9123fd849c17</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>ab9a8cb8-df87-4420-b092-420f13a085f8</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>d48d5335-2682-4bba-bee5-27cb41970251</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.5</string>
	<key>webaddress</key>
	<string>http://mdreizin.github.io/chrome-bookmarks-alfred-workflow</string>
</dict>
</plist>
