<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>A28B8B46-D1FD-48C1-A774-F8413E646653</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F51AFF16-38A4-4E7D-ABC7-7F31B762FE32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Launch all apps that I need for work</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Startup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
					<string>/Applications/Google Chrome Canary.app</string>
					<string>/Applications/Spotify.app</string>
					<string>/Applications/Franz.app</string>
					<string>/Applications/Mail.app</string>
					<string>/Applications/Hyper.app</string>
					<string>/Applications/PhpStorm.app</string>
					<string>/Applications/Vanilla.app</string>
					<string>/Applications/Hocus Focus.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F51AFF16-38A4-4E7D-ABC7-7F31B762FE32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>startup</string>
				<key>subtext</key>
				<string>Startup a number of apps I use regularly</string>
				<key>text</key>
				<string>Start the day</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A28B8B46-D1FD-48C1-A774-F8413E646653</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A28B8B46-D1FD-48C1-A774-F8413E646653</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>F51AFF16-38A4-4E7D-ABC7-7F31B762FE32</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
