"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e8e5f743-3927-4dca-a585-de3460d76c4b"
  autosave:
    enabled: true
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "spell-check"
      "about"
      "bookmarks"
      "dev-live-reload"
      "language-coffee-script"
      "language-clojure"
      "language-c"
      "language-csharp"
      "language-git"
      "language-go"
      "language-java"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "link"
      "metrics"
      "open-on-github"
      "welcome"
      "update-package-dependencies"
      "symbols-view"
      "jshint"
      "minimap"
      "expose"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".resources"
      ".idea"
      ".DS_Store"
      "node_modules"
    ]
    projectHome: "~/Sites"
    themes: [
      "native-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 11
    invisibles:
      cr: " "
      eol: " "
      space: " "
      tab: " "
    showInvisibles: true
    softTabs: false
    tabType: "hard"
  emmet: {}
  "exception-reporting":
    userId: "a2e74873-c03b-cf48-f5d2-454211fdfbc4"
  "isotope-light-ui":
    fontFamily: "System Default"
    matchEditorFont: true
  "isotope-ui":
    backgroundColor: "false"
    fontFamily: "Source Sans Pro"
  linter: {}
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    displayPluginsControls: false
    plugins: {}
  "project-manager":
    alwaysOpenInSameWindow: true
  "release-notes":
    viewedVersion: "0.95.0"
  "seti-ui":
    compactView: true
    fileIcons: false
  "spell-check": {}
  "todo-show": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
