"*":
  "atom-beautify":
    _analyticsUserId: "e8e5f743-3927-4dca-a585-de3460d76c4b"
  core:
    audioBeep: false
    disabledPackages: [
      "spell-check"
      "about"
      "bookmarks"
      "bracket-matcher"
      "dev-live-reload"
      "image-view"
      "language-coffee-script"
      "language-clojure"
      "language-c"
      "language-csharp"
      "language-git"
      "language-go"
      "language-java"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "link"
      "metrics"
      "open-on-github"
      "welcome"
      "update-package-dependencies"
    ]
    projectHome: "~/Sites"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    invisibles:
      cr: " "
      eol: " "
      space: " "
      tab: " "
    showIndentGuide: false
    showInvisibles: true
  "exception-reporting":
    userId: "a2e74873-c03b-cf48-f5d2-454211fdfbc4"
  "isotope-light-ui":
    fontFamily: "System Default"
    matchEditorFont: true
  "isotope-ui":
    backgroundColor: "false"
    fontFamily: "Source Sans Pro"
  linter: {}
  minimap:
    autoToggle: true
    displayPluginsControls: false
    plugins: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
