'.platform-darwin':
  'cmd-&': 'tree-view:toggle'
  'cmd-o': 'fuzzy-finder:toggle-file-finder'
  'cmd-p': 'unset!'
  'cmd-l': 'go-to-line:toggle'


'atom-workspace atom-text-editor:not([mini])':
  'cmd-=': 'editor:toggle-line-comments'

'body':
  'cmd-+': 'window:increase-font-size'
  'cmd-=': 'unset!'
  'alt-tab': 'window:focus-next-pane'

'atom-text-editor':
  'cmd-l': 'unset!'
