<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>8AE9BC5C-4C20-4ACE-8AF5-4B26FD087F06</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>text</key>
			<string>Search giphy for '{query}'</string>
			<key>url</key>
			<string>http://giphy.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AC5A8F57-23F6-4424-9DC7-5471994D0623</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>i</string>
			<key>text</key>
			<string>Open story {query} in JIRA</string>
			<key>url</key>
			<string>https://digipolisgent.atlassian.net/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C23D8832-EA8E-4856-8856-C6CF0C846423</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>drive</string>
			<key>text</key>
			<string>Open Google Drive</string>
			<key>url</key>
			<string>https://drive.google.com/drive/recent</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C973DF65-44FE-4BDE-A074-A84063834EAE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>caniuse</string>
			<key>text</key>
			<string>Can i use "{query}"</string>
			<key>url</key>
			<string>https://caniuse.com/#search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
